<html>
    <head>
        <title>ビューワ</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
         $(function() {
             var socket = null;
             var messages = $("#messages");
             if (!window["WebSocket"]) {
                 alert("エラー: WebSocketに対応していないブラウザです")
             } else {
                 socket = new WebSocket("ws://{{.Host}}/ws"); /* r.Hostのこと。rはecho.Request() */
                 socket.onclose = function() {
                     alert("接続が終了しました");
                 }
                 socket.onmessage = function(e) {
                     var msg = JSON.parse(e.data)
                     var newLink = $('<a></a>', {
                         href: msg.LatestURL,
                     });

                     // DOMを追加する
                     messages.append(
                         $("<button>").addClass("border mb-1 text-start text-dark btn btn-outline-primary")
                                      .css({maxWidth: 480})
                                      .attr("id","x-notification-link-"+msg.NotificationID, "type", "button")
                                      .append(
                                          $("<div>").addClass("container").append(
                                              $("<img>").addClass("d-inline rounded-circle text-right")
                                                        .css({
                                                            width: 40,
                                                            verticalAlign: "middle",
                                                        })
                                                        .attr("src", msg.AvatarURL),
                                              $("<small>").text(msg.UserName),
                                              $("<div>").addClass("text-right text-end").append(
                                                  $("<span>").text(msg.RepoName)
                                                             .addClass("badge bg-primary"),
                                              ),
                                              $("<h4>").text(msg.Title)
                                                       .addClass("fw-bold"),
                                              $("<p>").text(msg.Body)
                                                      .addClass("nav-item mb-2 d-inline")
                                          )
                                      )
                     );

                     $(document).ready(function() {
                         // 各要素にクリックイベントのハンドラーを設定する
                         $('#x-notification-link-'+msg.NotificationID).click(function() {
                             var iframe = document.getElementById('x-iframe');
                             iframe.src = msg.HTMLURL;
                             $("#x-notification-link").append(newLink);
                         });
                     });
                 }
             }
         });
        </script>
    </head>
    <body class="h-100">
        <div class="d-flex flex-row">
            <!-- サイドメニュー -->
            <nav class="bg-light" style="width: 800px; overflow-y: scroll; height: 100vh;">
                <header class="bg-light px-3 py-0">
                    <!-- ヘッダーの内容 -->
                    <h1 class="fs-2 text-primary fw-bold py-0">Garbanzo</h1>
                    <ul class="navbar-nav d-flex flex-row">
                        <!-- <li class="nav-item mx-3 text-muted active"><a href="#" class="nav-link text-secondary">Option</a></li> -->
                    </ul>
                </header>
                <ul class="nav flex-column m-0 px-3" id="messages">
                    <!-- <div class="card mb-1">
                         <div class="container">
                         <img class="d-inline" src="https://lh3.googleusercontent.com/a/AAcHTtf_TLUT_68kee2kIQdnaqgDNsS6R-NfwLjnGVsPwg=s96-c" style="width: 50px; vertical-align: middle;">
                         <li class="nav-item mb-2 d-inline">this is comment... </li>
                         </div>
                         </div> -->
                </ul>
            </nav>
            <!-- メインコンテンツ -->
            <main class="w-100 bg-light">
                <!-- タイトルバー -->
                <!-- <div class="border shadow-sm d-flex flex-row align-items-center bg-light">
                     <div class="navbar-brand toggle-menu">
                     <button class="btn btn-light btn-sm" id="toggle"><i class="fas fa-bars fa-lg"></i></button>
                     </div>
                     <div class="fs-4 fw-bold">Dashboard</div>
                     </div> -->
                <!-- コンテンツ -->
                <div class="">
                    <div class="d-flex flex-row">
                        <iframe style="width: 100%; height: 100vh;" src="http://localhost:8081/golang/go" id="x-iframe" />
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
